extends layout

block css 
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .boxWrapper
    -for(let i = 0; i < messages.length; i++)
      div.box
        h= messages[i].user + " said..."
        b= messages[i].text
        f= messages[i].added.toLocaleDateString("en-GB")

  
