extends layout

block css 
    link(rel='stylesheet', href='/stylesheets/new.css')

block content
    form(method="POST" action="/new")
        label Name
        input(type="text" name="user" required="required")
        label Message
        textarea(type="text" name="content" required="required")
        input(type="submit" value="Submit")

block menu 
    a(href="/" class="button") Go Back
